$azulincoisa:rgb(0, 158, 226);
$amarilloinocisa:rgb(255,205,0);
$naranjainocisa:rgb(248,175,0);
$verdeinocisa:rgb(165,173,30);
$verdefinocisa:rgb(131,140,40);
$grisinocisa: rgb(198,198,198);
$titulo:4vh;
$subtitulo:3vh;
$card:2vh;



 .slider
{

height: 100vh;
background-size: cover;
background-position: center;
overflow: hidden;
}

.imagenlogo
{

width: 300px;
height:100px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.imagentelefono
{
width: 150px;
height: 50px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
 
.azulinocisa
{
background: $azulincoisa;
font-family: 'Muli', sans-serif;
height: 4em;
}

.opacidad
{
    opacity: 90%;

}

.navbar-toggler-icon
{
color: black;

}
 .elementosmenu
 {
    a:hover
    {
        
        font-weight: bolder;
       }

       font-size: $subtitulo;
 }
  

 .subtitulo
{
font-size: 3vh;
}

.titulo
{
font-size: 4vh;
}

.letrascard
{

font-size: 2vh;

}