$azulincoisa:rgb(0, 158, 226);
$amarilloinocisa:rgb(255,205,0);
$naranjainocisa:rgb(248,175,0);
$verdeinocisa:rgb(165,173,30);
$verdefinocisa:rgb(131,140,40);
$grisinocisa: rgb(198,198,198);

.azulinocisa
{
background: $azulincoisa;
font-family: 'Muli', sans-serif;
height: 4em;
}

#galeria
{
    .col-lg-4
    {
       margin: 0 !important;
       padding: 25px;     
    }

}

#galeria img
{
width: 100%;
height: 250px;
filter: grayscale(100%);
cursor: pointer;
} 


#galeria img:hover
{
border: 5px solid $grisinocisa;
filter: none;
}